<%= simple_form_for(trip) do |f| %>
  <div class= "row g-3">
    <div class = "col-md-6">
      <%= f.input :title,
                  label:       "Titre",
                  placeholder: "Ex: Promenade à la mer" %>
    </div>
    <div class = "col-md-6">
      <%= f.input :short_description,
                  label:       "Description courte",
                  placeholder: "Ex: Une magnifique promenade le long du Lez" %>
    </div>
    <div class = "col-md-6">
      <%= f.input :difficulty,
                  label:       "Difficulté",
                  hint:        "Sur /10",
                  placeholder: "Ex: 8" %>
    </div>
    <div class = "col-md-6">
      <%= f.input :length,
                  label:       "Durée en minutes",
                  placeholder: "Ex: 60" %>
    </div>
    <div class = "col-md-6">
      <%= f.input :cover_picture,
                  label:       "Image de couverture",
                  as:          :file %>
    </div>
  </div>
  <%= f.submit class:'btn btn-primary' %>
<% end %>
