<div class="card-trip mb-5">
  <% if trip.cover_picture.attached? %>
    <img src="<%= trip.cover_picture.url %>">
  <% else %>
    <img src="https://res.cloudinary.com/ds3lr3hfq/image/upload/v1666186058/default_cover_picture_xzxuhg.jpg">
  <% end %>
  <div class="card-trip-infos">
    <div>
      <div class='d-flex'>
        <span class="badge badge-pill bg-dark">Difficulté : <%= trip.difficulty %>/10</span>
        <p>|</p>
        <span class="badge badge-pill bg-dark"><%= trip.length %> mn</span>
      </div>
      <h2> <%= trip.title %> </h2>
      <h3> <%=trip.starting_city_name %> -> <%= trip.ending_city_name %></h3>
      <p class='mt-2'> <%= trip.short_description %></p>
      <%= link_to 'Voir', trip_path(trip), class: 'btn btn-primary mt-3' %>
    </div>
    <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
  </div>
</div>
