<div>
  <div class= "trip-general-information mt-3">
    <div class="card mb-3" style="width: 40%">
      <div class="card-body">
        <p> <strong> Difficulté: </strong> <%= trip.difficulty%>/10</p>
      </div>
    </div>
    <div class="card mb-3" style="width: 40%">
      <div class="card-body">
        <p> <strong> Durée: </strong> <%= trip.length%> mn</p>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="width: 40%">
    <div class="card-body">
      <p> <strong> Ville de départ: </strong> <%= trip.starting_city_name%></p>
      <p> <strong> Code postal de la ville de départ: </strong> <%= trip.starting_city_zipcode%></p>
      <p> <strong> Adresse du départ: </strong> <%= trip.starting_street_address%></p>
    </div>
  </div>
  <div class="card mb-3" style="width: 40%">
    <div class="card-body">
      <p> <strong> Ville d'arrivée: </strong> <%= trip.ending_city_name%></p>
      <p> <strong> Code postal de la ville d'arrivée: </strong> <%= trip.ending_city_zipcode%></p>
      <p> <strong> Adresse d'arrivée: </strong> <%= trip.ending_street_address%></p>
    </div>
  </div>
</div>


