<div>
  <div class= "trip-general-information mt-3">
    <div class="card mb-3">
      <div class="card-body">
        <p> <strong> Difficulté: </strong> <%= trip.difficulty%>/10</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <p> <strong> Durée: </strong> <%= trip.length%> mn</p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <p> <strong> Départ: </strong> <%= trip.display_origin_address %></p>
        <% if trip.origin_address.nil? %>
          <%= link_to 'Ajouter', new_trip_trip_location_path(trip), class: "btn btn-primary"  %>
        <% else %>
          <%= link_to 'Modifier', edit_trip_location_path(trip), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <p> <strong> Arrivée: </strong> <%= trip.display_target_address %></p>
        <% if trip.target_address.nil? %>
          <%= link_to 'Ajouter', new_trip_trip_location_path(trip), class: "btn btn-primary"  %>
        <% else %>
          <%= link_to 'Modifier', edit_trip_location_path(trip), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


