<div class="card mb-3">
  <% if trip.cover_picture.attached? %>
    <img class="card-img-top" src="<%= trip.cover_picture.url %>" alt="Card image cap">
  <% else %>
    <img class="card-img-top" src="https://res.cloudinary.com/ds3lr3hfq/image/upload/v1666186058/default_cover_picture_xzxuhg.jpg" alt="Card image cap">
  <% end %>
  <div class="card-body">
    <div class="d-flex align-item mb-3">
      <span class="badge rounded-pill bg-dark">Difficulté : <%= trip.difficulty %>/10</span>
      <span class="badge rounded-pill bg-dark mx-2"><%= trip.length %> mn</span>
    </div>
    <h5 class="card-title"><%= trip.title %></h5>
    <p class="card-text"><%= trip.short_description %></p>
    <%= link_to 'Voir', trip_path(trip), class: 'btn btn-primary mt-3' %>
  </div>
</div>
