<div class= "container mt-5">
    <h1> Bienvenue sur Lanes ! </h1>
    <p> Lanes vous permet de trouver les meilleurs itinéraires de vélo autour de chez vous.</p>
    <p> Il y a <%= @trips.count %> itinéraires disponibles </p>
    <ol>
        <% @trips.each do |trip| %>
           <li> <%= link_to trip.title, trip_path(trip.id), class:"link-secondary" %> </li>
        <% end %>
    </ol>
    <div>
        <%= link_to "Ajouter un itinéraire", new_trip_path, class: "btn btn-primary" %>
        <%= link_to "Voir les itinéraires les plus tranquilles", easy_trips_path, class: "btn btn-secondary" %>
        <%= link_to "Voir les itinéraires les plus sportifs", hard_trips_path, class: "btn btn-secondary" %>
    </div>
</div>