<%= render 'banner', trip: @trip %>
<div class= "container mt-5">
  <%= link_to "Retour à tous les itinéraires", root_path, class:"link-secondary" %>
  <div class= "trip-presentation mt-5">
      <h2> Aperçu</h2>
      <div class= "w-25">
        <%= render 'trip', trip: @trip %>
      </div>
      <%= link_to "Supprimer", trip_path(@trip),
        data: { turbo_method: :delete,
                turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet itinéraire ?"
                } ,
        class: "btn btn-danger"
      %>
  </div>
    <div class = "mt-5">
        <h2> Avis</h2>
        <%= render 'reviews', trip: @trip %>
        <%= link_to "Ajouter un avis", new_trip_review_path(@trip), class: "btn btn-light mt-3"  %>
    </div>
</div>
